<h1>Real Estate Listing Rails API</h1>

<h3>Created by
  <a target="_blank" href="https://www.linkedin.com/in/varunpatel">Varun Patel</a>
</h3>

<p><strong>Example Use Cases</strong></p>

<ul>
  <li><a href="listings?min_price=200000&max_price=201000&min_bed=5">Example 1</a></li>
  <li><a href="listings?min_price=100000&max_price=200000&min_bed=2&max_bed=2&min_bath=2&max_bath=2">Example 2</a></li>
  <li><a href="listings?min_price=250000&max_price=400000&min_bed=5&min_bath=3">Example 3</a></li>
  <li><a href="listings?min_price=350000&max_price=400000&min_bed=2&min_bath=4">Example 4</a></li>
</ul>
